# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml

server:
  persistentVolume:
    enabled: true
    size: 8Gi

  retention: "15d"

  extraFlags:
    - web.enable-remote-write-receiver

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - prometheus.loki.sikademo.com
    path: /
    pathType: Prefix
    tls:
      - hosts:
          - prometheus.loki.sikademo.com
        secretName: prometheus.loki.sikademo-tls

alertmanager:
  enabled: false

prometheus-pushgateway:
  enabled: false

prometheus-node-exporter:
  enabled: false

kube-state-metrics:
  enabled: false
