# https://github.com/grafana/loki/blob/main/production/helm/loki/values.yaml

deploymentMode: SimpleScalable

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 3

  limits_config:
    retention_period: 7d
    retention_stream:
      - selector: '{namespace=~"kube-.*"}'
        priority: 1
        period: 1d
      - selector: '{namespace="loggen-3d"}'
        priority: 4
        period: 3d
      - selector: '{namespace="loggen-2d"}'
        priority: 3
        period: 2d
      - selector: '{namespace="loggen-1d"}'
        priority: 2
        period: 1d

  compactor:
    retention_enabled: true
    retention_delete_delay: 2h
    retention_delete_worker_count: 150

  storage:
    bucketNames:
      chunks: loki-k8s-chunks
      ruler: loki-k8s-ruler
      admin: loki-k8s-admin
    type: s3
    s3:
      endpoint: http://minio.minio:9000
      accessKeyId: admin
      secretAccessKey: asdfasdf
      s3ForcePathStyle: true
      insecure: false
  schemaConfig:
    configs:
      - from: 2024-01-11
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  rulerConfig:
    ring:
      kvstore:
        store: memberlist
    enable_sharding: true
    remote_write:
      enabled: false
    storage:
      type: s3

# Simple Scalable architecture components
read:
  replicas: 3
  persistence:
    enabled: true
    size: 5Gi

write:
  replicas: 3
  persistence:
    enabled: true
    size: 5Gi

backend:
  replicas: 3
  persistence:
    enabled: true
    size: 5Gi

# Disable single binary
singleBinary:
  replicas: 0

# Caching
chunksCache:
  enabled: true
  allocatedMemory: 1024

resultsCache:
  enabled: true
  allocatedMemory: 1024

# Disable canary and gateway for simplicity
test:
  enabled: false
lokiCanary:
  enabled: false

sidecar:
  enabled: false

gateway:
  enabled: true
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - host: loki-k8s.loki.sikademo.com
        paths:
          - path: /
            pathType: Prefix
    tls:
     - hosts:
        - loki-k8s.loki.sikademo.com
       secretName: loki-k8s.loki.sikademo-tls
