apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pull-secret
spec:
  refreshInterval: "1m"
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: pull-secret
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      engineVersion: v2
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "registry.sikalabs.com": {
                "auth": "{{ printf "token:%s" .password | b64enc }}"
              }
            }
          }
  dataFrom:
    - extract:
        key: repo-hello-akcenta-token
