# https://github.com/minio/minio/blob/master/helm/minio/values.yaml

rootUser: admin
rootPassword: asdfasdf

buckets:
  - name: loki-single-chunks
    policy: none
    purge: false
  - name: loki-single-ruler
    policy: none
    purge: false
  - name: loki-single-admin
    policy: none
    purge: false

users: []

replicas: 1
drivesPerNode: 1

mode: standalone

metrics:
  serviceMonitor:
    enabled: false
    includeNode: true

persistence:
  enabled: true
  size: 2Gi

resources:
  requests:
    cpu: 1000m
    memory: 1000Mi
  limits:
    cpu: 3000m
    memory: 7000Mi

tolerations:
  - key: "dedication"
    operator: "Equal"
    value: "minio"
    effect: "NoExecute"

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - minio.loki.sikademo.com
  tls:
    - secretName: minio-tls
      hosts:
        - minio.loki.sikademo.com

consoleIngress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - minio-console.loki.sikademo.com
  tls:
    - secretName: minio-console-tls
      hosts:
        - minio-console.loki.sikademo.com

oidc:
  enabled: true
  configUrl: "https://sso.sikalabs.com/realms/training/.well-known/openid-configuration"
  clientId: "example_client_id"
  clientSecret: "example_client_secret"
  claimName: "groups"
  scopes: "openid,profile,email"
  redirectUri: "https://minio-console.loki.sikademo.com/oauth_callback"
  displayName: "SSO"

policies:
  - name: minio-admins
    statements:
      - effect: Allow
        actions:
          - 'admin:*'
      - effect: Allow
        actions:
          - 'kms:*'
      - effect: Allow
        actions:
          - 's3:*'
        resources:
          - 'arn:aws:s3:::*'

# HACK: need at least one container in the job (https://github.com/minio/minio/blob/master/helm/minio/templates/post-job.yaml#L122)
customCommands:
  - command: "--version"
