# https://github.com/grafana/loki/blob/main/production/helm/loki/values.yaml

deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 5Gi

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1

  storage:
    bucketNames:
      chunks: loki-single-chunks
      ruler: loki-single-ruler
      admin: loki-single-admin
    type: s3
    s3:
      endpoint: http://minio.minio:9000
      accessKeyId: admin
      secretAccessKey: asdfasdf
      s3ForcePathStyle: true
      insecure: false
  schemaConfig:
    configs:
      - from: 2024-01-11
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  rulerConfig:
    ring:
      kvstore:
        store: inmemory
    enable_sharding: true
    remote_write:
      enabled: false
    storage:
      type: local
      local:
        directory: /var/loki/rules

chunksCache:
  enabled: false

resultsCache:
  enabled: false

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
test:
  enabled: false
lokiCanary:
  enabled: false

sidecar:
  enabled: false
gateway:
  enabled: false

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - loki-single.loki.sikademo.com
  tls:
   - hosts:
      - loki-single.loki.sikademo.com
     secretName: loki-single.loki.sikademo-tls
